@charset "utf-8";

body {
    width: 100%;
    height: 100%;
}

/* header 시작 */
#header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #202020;
    font-family: 'Pretendard-Regular';
}

.inner {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.inner h1 {
    position: absolute;
    left: 0;
    top: 10px;
}

.inner h1 img {
    width: 150px;
}

.nav1 {
    position: absolute;
    top: 25px;
    right: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 70px);
    grid-column-gap: 15px;
}

.nav1 li {
    font-size: 0.9rem;
    position: relative;
    z-index: 2;
}

.nav1 li:hover {
    font-weight: bold;
}

.nav1 li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #ED1A3B;
    transition: 0.45s;
}

.nav1 li:hover::after,
.nav1 li:hover.on::after {
    width: 70px;
}

.icon {
    position: absolute;
    height: 30px;
    top: 25px;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.icon li:nth-child(2) img {
    width: 23px;
    line-height: 30px;
}

.icon li:nth-child(1) img {
    width: 30px;
}

.menu {
    width: 100%;
    top: 0;
}

.menubox {
    width: 60%;
    margin: 0 auto;
}

.nav2 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav2>li {
    width: 20%;
    height: 80px;
    line-height: 80px;
    font-size: 1.1rem;
    z-index: 11;
    letter-spacing: 1px;
}

.nav2>li>a:hover {
    font-weight: bold;
}

.nav2>li>a {
    display: block;
}

.sub {
    display: none;
    /* 서브메뉴 보이게 */
}

.sub li {
    height: 40px;
    line-height: 40px;
}

.sub li:hover {
    background: #ED1A3B;
    opacity: 0.8;
}

.sub li a {
    display: block;
    font-size: 0.9rem;
}

/* fullmenu 배경입니다. */
.subbox {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 580px;
    background: #202020;
    z-index: 10;
    display: none;
}

/* header 끝 */

/* search_box 시작 */
.search_box {
    position: absolute;
    width: 100%;
    padding: 3rem 0 5rem 0;
    background-color: #4B4949;
    opacity: 0.9;
    z-index: 1;
    font-family: 'Pretendard-Regular';
    display: none;
    /* 검색박스 보이게 */
}

.search_box1 {
    position: relative;
    width: 30%;
    margin: 0 auto;
}

.search_box1 div {
    width: 100%;
}

.search_box1 div input {
    width: 100%;
    height: 35px;
    line-height: 30px;
    text-align: center;
    font-size: 1.1rem;
    color: #ccc;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #ccc;
    font-family: 'Pretendard-Regular';
}

.search_box1>div>a {
    position: absolute;
}

.search_box1 div img {
    width: 30px;
}

.tag {
    width: 100%;
    margin-top: 20px;
}

.tag ul li {
    position: relative;
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
    font-size: 0.95rem;
}

.tag ul li a {
    color: #ccc;
}

.tag ul li a span {
    display: block;
}

.tag span::after,
.tag span::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: 0px;
    width: 20px;
    height: 2px;
    background: #ccc;
}

.tag span::before {
    transform: rotate(-45deg);
    opacity: 1;
}

.tag span::after {
    transform: rotate(45deg);
    opacity: 1;
}

/* search_box 끝 */

/* login 시작 */
.login {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 8rem auto 10rem;
    font-family: 'Pretendard-Regular';
}

#cnt_form {
    width: 45%;
    border-bottom: 2px solid #ccc;
}

#cnt_form1 {
    width: 48%;
    border-bottom: 2px solid #ccc;
}

#cnt_form h3 {
    width: 100px;
}

h3 {
    position: relative;
    width: 300px;
    padding-left: 15px;
    font-size: 1.7rem;
    color: #fff;
    margin: 0 auto 2rem;
}

h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4px;
    height: 20px;
    background-color: #ED1A3B;
}

h5 {
    width: 100%;
    color: #666;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
}

#cnt_form form {
    position: relative;
}


.form-control {
    width: 70%;
    height: 35px;
    font-size: 0.8rem;
    background: none;
    border: 1px solid #8E8E8E;
    margin-bottom: 10px;
    margin-left: 20px;
    outline: none;
    color: #fff;
    font-family: 'Pretendard-Regular';
}

.btn {
    width: 75px;
    height: 80px;
    font-size: 10px;
    background: #ED1A3B;
    color: #fff;
    position: absolute;
    top: 0;
    right: 20px;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
}

.chk1 {
    font-size: 0.7rem;
    color: #8e8e8e;
    margin-left: 20px;
    cursor: pointer;
}

.id12 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.id12 ul {
    display: flex;
    color: #8E8E8E;
    margin-right: 15px;
}

.id12 ul li {
    font-size: 0.7rem;
    margin-right: 10px;
}

.id12 ul li a {
    color: #8E8E8E;
}

.txt2 {
    color: #8e8e8e;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
}


.sns2 {
    width: 100%;
}

.sns2 img {
    width: 40px;
}

.icon2 ul {
    display: flex;
    justify-content: center;
}

.icon2 ul li {
    margin-right: 50px;
    margin-top: 10px;
}

.icon2 ul li:nth-child(3) {
    margin-right: 0;
}

h6 {
    color: #8e8e8e;
    font-size: 1rem;
    text-align: center;
    margin: 3rem auto 1rem;
}


.box1 {
    border: 1px solid #8e8e8e;
    margin: 2.5rem 0 1.5rem;
}

.box1 p {
    font-size: 0.9rem;
    color: #8e8e8e;
    margin: 20px;
}

.box1 p span {
    color: #ED1A3B;
}
/* login 끝 */

/* 멤버십 시작  */
.card {
    width: 100%;
}

.card img {
    width: 150px;
}

.card li span {
    display: block;
}

.member {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 25px;
}

.member li span {
    color: #8E8E8E;
    font-size: 0.8rem;
    margin-top: 10px;
}

.member li span button {
    margin-top: 5px;
    margin-bottom: 20px;
    background: none;
    color: #8e8e8e;
    border: 0.5px solid #ED1A3B;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 5px 15px;
    transition: all .4s ease-in-out;
}

.member li span button:hover {
    background: #ED1A3B;
    color: #fff;
}
/* 멤버십 끝  */

/*배너 시작*/
.banner {
    width: 100%;
}

.banner img {
    width: 310px;
}

.banner ul {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.banner ul li {
    margin-right: 50px;
    cursor: pointer;
}

.banner ul li:nth-child(3) {
    margin-right: 0;
}
/*배너 끝*/

/* quick 시작 */
#quick {
    position: absolute;
    right: 0;
    top: 80px;
    bottom: 0;
    width: 65px;
    height: 450px;
    background: #fff;
    border-radius: 10px;
    padding: 25px 0;
}

#quick ul {
    text-align: center;
}

#quick ul li {
    margin-bottom: 30px;
}

#quick ul li span {
    display: block;
    color: #111;
    font-size: 0.7rem;
    font-family: 'Pretendard-Regular';
    margin-top: 10px;
}

#quick ul li:nth-child(2) img,
#quick ul li:nth-child(3) img,
#quick ul li:nth-child(5) img {
    width: 35px;
}

#quick img {
    width: 40px;
}

/* quick 끝 */

/* footer 시작 */
#footer {
    background: #202020;
    font-family: 'Pretendard-Regular';
    padding: 70px 0;
}

.foot {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.foot_left {
    width: 50%;
    display: grid;
    grid-template-columns: 25% 60%;
    grid-column-gap: 15%;
}

.foot_logo img {
    width: 100%;
}

.foot_box {
    display: grid;
    grid-template-columns: 50% 40%;
    grid-column-gap: 10%;
}

.foot_box div p {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.foot_box div p:nth-child(1) {
    padding-left: 9px;
    position: relative;
}

.foot_box div p:nth-child(1)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3.5px;
    height: 15px;
    background-color: #ED1A3B;
}

.foot_box ul:nth-child(2) li {
    margin-bottom: 15px;
    font-size: 0.9rem;
}

.foot_box ul li {
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.foot_right ul:nth-child(1) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 0.5fr) 1fr;
    grid-column-gap: 30px;
    font-size: 0.9rem;
    margin-bottom: 2.5rem;
}

.foot_txt {
    color: #fff;
    font-size: 0.9rem;
    font-size: 0.75rem;
    margin-bottom: 2rem;
}

.foot_txt address {
    font-style: normal;
}

.foot_right {
    width: 45%;
}

.foot_right ul:nth-child(3) {
    display: flex;
    font-size: 0.75rem;
    color: #fff;
    margin-bottom: 2rem;
}

.foot_right ul:nth-child(3) li {
    margin-right: 20px;
}

.sns {
    width: 55%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 15px;
}

.sns img {
    width: 30px;
}

/* footer 끝 */